extends ../../layout

block content
  h1 Gradebook

  - var gradebook = data
  
  a(href='/gradebook/grades') Create Grade
  a(href='/gradebook/update') Update Grade
  a(href='/gradebook/delete') Delete Grade
  a(href='/gradebook/test') Make A New Test
  
