extends ../../layout

block content
  
  form(method='post', action='/students/update')
    fieldset
      h1 Updated Information
      p First Name
      p
        input(name='FirstName')
      p Middle Initial
      p
        input(name='MiddleInitial')
      p Last Name
      p
        input(name='LastName')
        
      h3 Contact Information
      p Email
      p
        input(name='Email')
      p PhoneNumber
      p
        input(name='PhoneNumber')

      h3 Current Address
      p Street
      p
        input(name='Street')
      p City
      p
        input(name='City')
      p State
      p
        input(name='State')
      p Zip
      p
        input(name='Zip')
      p Country
      p
        input(name='Country')
      
      h3 Personal Information
      p SSN
      P
        input(name='SSN')
      p Marital Status
      p
        input(name='MaritalStatus')
      p Gender
      p
        input(name='Gender')
      p Date of Birth
      p
        input(name='DOB')
      p Native Language
      p
        input(name='NativeLanguage')
      
      h3 Origin Address
      p Region
      p
        input(name='Region')
      p Country
      p
        input(name='Country')
      
      h3 Primary Contact
      p First Name
      p
        input(name='PFirstName')
      p Middle Initial
      p
        input(name='PMiddleInitial')
      p Last Name
      p
        input(name='PLastName')
      p Relation
      p
        input(name='Relation')
      p PPhone Number
      p
        input(name='PPhoneNumber')
      p PEmail
      p
        input(name='PEmail')

    fieldset
      label Student to Change
      p Student ID
      p
        input(name='ID')
      p
    p
      input(type='submit', value='Save')