extends layout

block content
  h1#welcome Welcome to the Don Bosco English as a Second Language School
  h4#quote "The limits of my language means the limits of my world."
  h4#speaker -Ludwig Wittgenstein

  