extends ../../layout

block content
  h1= title
  p Welcome to #{title}

  form(method='post', action='/courses/delete')
    fieldset
      legend Course
      p Course ID </br>
        input(name='courseID')
      p
        input(type='submit', value='Save')