extends ../../layout

- var d = data
- var a = assessment

block content
  h1= title
  p Welcome to #{title}

  table.indextable
    tr
      th Reading
    
  
  table.indextable
    tr
      th Listening
  
  table.indextable
    tr
      th Writing
  
  table.indextable
    tr
      th Speaking
  