extends ../../layout

block content
  h1= title
  p Welcome to #{title}
  
  - var a = assessment
  - var d = data
  
  table.indextable
    tr(id='Reading-Section')
      td.section Reading
    tr(id='Reading-NumbersAndNumeracyTerms')
      td NumbersAndNumeracyTerms          
    tr(id='Reading)
      td MorphemesAndSyntax
    tr
      td WordsAndPhrases
    tr

      td SameMeaning
      
    tr


      td OppositeMeaning":[],   
    tr


      td AppropriateAssociatedInformation":[13,14,17],   
    tr


      td IdentifyInformation
    tr


      td ConstructMeaning":[16,22,24],     
    tr


      td ExtendMeaning":[]
    tr


      td Listening" : {
    tr


      td NumberAndNumberTerms":[1,2,3,5],   
    tr


      td DiscernSounds":[8,9,10],      
    tr


      td Details":[14,17,20],      
    tr


      td StatedConcepts":[11,23],    
    tr


      td IdiomsExpressions":[21],         
    tr


      td DetermineRoles":[4,18],      
    tr


      td Instructions":[6,7],   
    tr


      td CauseEffect":[24],    
    tr


      td FactOpinion":[],      
    tr


      td MainIdea":[12,15,25], 
    tr


      td Forecast":[13,16],  
    tr


      td SpeakerPurpose":[19,22]
    tr




      td Writing" : {
    tr


      td NumbersAndNumeracyTerms":[1,2,3,4], 
    tr


      td VerbPhrases":[5,6,8,13],    
    tr


      td NounPhrases":[7,9,12,14,16], 
    tr


      td WritingConventions":[11,15],       
    tr


      td SentenceFormation":[10,17], 
    tr


      td SentenceCoherence":[18,19,20],       
    tr


      td WriteToDescribe":[1,2], 
    tr


      td WriteToAccomplishTasks":[3,4], 
    tr


      td ExtendedWriting":[5]
    tr





      td Speaking" : {
    tr


      td NumbersAndNumeracyTerms":[1,2,3], 
    tr


      td GreetingsInquiriesLeaveTakings":[],     
    tr


      td PhoneCompetency":[9,10], 
    tr


      td ExpressOpinion":[12],  
    tr


      td InstructionsDirectionsLocations":[4,5],   
    tr


      td Descriptions":[],  
    tr


      td NarrateParaphraseEvents":[6,7,8], 
    tr


      td RequestsPermission":[11,13],    
    tr


      td ExpressDissatisfactionApology":[14,15], 
    tr


      td NegotiateMeaning":[16]


  