extends ../../layout

block content
  h1= title
  p Welcome to #{title}

  
  form(method='post', action='/courses/update') 
    fieldset
      legend Course to Edit
      p Course ID
      p
        input(name='ID')
      p 
    fieldset
      legend Updated Information
      p Teacher ID
      p
        input(name='TeacherID')
      p Course Name
      p
        input(name='CourseName')
      p Time Held
      p
        input(name='TimeHeld')
 

    p
      input(type='submit', value='Save')